.header {
    padding: 18px 0;
}
.header__wrapper {
    display: grid;
    grid-template-areas: 'logo links' 'search search';
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    padding-bottom: 16px;
    border-bottom: 1px solid #EEEFF2;

    @media  (min-width: 1024px){
        grid-template-areas: 'logo search links';
    }
}
.header__logo-link {
    grid-area: logo;
}
.header__logo-image {
    width: 106px;

    @media  (min-width: 768px){
        width: 130px;
    }
}
.header__search {
    grid-area: search;
    position: relative;
    width: 100%;
    height: 38px;

    @media  (min-width: 1024px){
        width: 408px;
    }

    @media  (min-width: 1440px){
        width: 514px;
    }
}
.header__search-input {
    width: 100%;
    height: 100%;
    padding: 12px 45px 12px 24px;
    background-color: #eeeff2;
    border-radius: 32px;
    border: none;

    &::placeholder{
        color: #969eae;
    }
}
.header__search-button {
    position: absolute;
    content: '';
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}
.header__links-list {
    grid-area: links;
    display: flex;
    column-gap: 16px;

    @media  (min-width: 1024px){
        column-gap: 24px;
    }
}
.header__link {
    display: flex;
    align-items: center;
    column-gap: 4px;
    flex-direction: row-reverse;
    color: #1c1c1c;

    @media  (min-width: 768px){
        flex-direction: row;
    }
}
.header__link-text {
    display: none;

    @media  (min-width: 768px){
        display: block;
    }
}
.header__link-count {

}